<div class="nav-toggle">
  <span class="icon-menu2 -ap"></span>
</div>

<div class="overlay-common"></div>
<div class="sidebar">
  <a href="#" class="logo">
    <img src="assets/img/logo.svg" class="logo-img" alt="">
    <span class="logo-text">My Work</span>
  </a>
  <div class="menus-box">
    <ul class="menus">
      <li  >
        <a [routerLink]="'/add-new-document'" [routerLinkActive]="'active'">
          <span class="-ap icon-dashboard icon"></span> Cree un Document
        </a>
      </li>
      <li >
        <a  [routerLink]="'/list-of-documents'" [routerLinkActive]="'active'" >
          <span class="-ap icon-account_circle icon"></span> List des Documents
        </a>
      </li>
      <li>
        <a href="#">
          <span class="-ap icon-paper icon"></span> Documents
        </a>
      </li>
      <li>
        <a href="#">
          <span class="-ap  icon-stats-dots icon"></span> Statistics
        </a>
      </li>
      <li>
        <a href="#">
          <span class="-ap icon-settings icon"></span> Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="footer">
    <a href="#" class="btn-logout">
      <span class="icon-log-out -ap icon"></span> Logout
    </a>
  </div>
</div>
<div class="main-wrapper">
  <div class="top-navigation">
    <div class="box-search">
      <input type="text" class="form-control" placeholder="Search all...">
      <span class="-ap icon-magnifier icon"></span>
    </div>
    <div class="menu-right">
      <div class="item -notify">
        <span class="-ap icon-notifications icon"></span>
        <span class="dot"></span>
      </div>
      <div class="item user dropdown">
                    <span class="avatar" data-toggle="dropdown">
                        <img src="img/avatar.png" alt="">
                        <span class="dot"></span>
                    </span>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#">User profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-content">

  <router-outlet></router-outlet>
  </div>
</div>

