<h2 mat-dialog-title>{{"Ajouter un seance"}}</h2>

<mat-dialog-content class="mat-typography">

  <form>
    <div class="form-group">
      <label for="numero">numéro de séance :</label>
      <select id="numero" class="form-select" aria-label="selectioner une numéro">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>


    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="isHasCommissionPart" (change)="setIsHasCommissionPart()" style="width: 20px; height: 20px;" id="commissionChecker" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="commissionChecker">
        Ajouter la parties de Commission
      </label>
    </div>


    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="isHasJournalPart" (change)="setIsHasJournalPart()" style="width: 20px; height: 20px;" id="journalChecker" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="journalChecker">
        Ajouter la parties de Journal
      </label>
    </div>
    <app-commission-part *ngIf="getIsHasCommissionPart()"></app-commission-part>

    <app-journal-part *ngIf="getIsHasJournalPart()"></app-journal-part>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true"  (click)="onSubmit()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
